Q1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

Ans:

Name Error:

Example: Print("farooq")
Reason: Print is not defined in python. It should be in lowercase.
Syntax Error:

Example: print "farooq"

Reason: Missing parentheses in call to 'print'.

Example: a* = 10

Reason: Invalid syntax. Vaiable name should not contain special characters.

Type Error:

Example: "farooq" + 2

Reason: Cannot concatenate string and integer.

Example: 19 + "19"

Reason: unsupported operand type(s) for +: 'int' and 'str'. Cannot add integer and string.

Value Error:

Example: A = int(input("Enter value of A: "))

Reason: invalid literal for int() with base 10: '10.2'. Only integer value is allowed to input.

Q2. Take input A and B and print their sum, mul, div, square of the numbers.

In [1]:
# Read the value of a & b
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

print(f"Addition of {a} & {b} is {a + b}")
print(f"Multiplication of {a} & {b} is {a * b}")
print(f"Division of {a} & {b} is {a / b}")
print(f"Square of {a} is {a**2} & {b} is {b**2}")

Enter the value of a: 5
Enter the value of b: 10
Addition of 5 & 10 is 15
Multiplication of 5 & 10 is 50
Division of 5 & 10 is 0.5
Square of 5 is 25 & 10 is 100

Q3. How many reserve keywords are there in python and why we should not use them as a variable name.

Ans:

There are 31 reserve keywords in python.

We should not use reserve keywords as variable name because as they have predefined meaning.

Example: if, elif, else --> These keyword are used for condition checking.

Q4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [2]:
fname = input("Enter first name: ")
lname = input("Enter last name: ")
age = int(input("Enter age: ")) 
domain = "@gmail.com"
email_ID = (f"{lname}.{fname}{domain}")

print(f"""\nName: {fname} {lname}
Age: {age}
Email ID: {email_ID}""")

Enter first name: farooq
Enter last name: mohammed
Enter age: 25

Name: farooq mohammed
Age: 25
Email ID: mohammed.farooq@gmail.com

Q5. Try to print the following lines -

* Hi I'm farooq
* My address is 22\3
* I earn 20$ daily.

In [3]:
print("""Hi! I'm farooq.
My address is 22\3.
I earn 20$ daily.""")

Hi! I'm farooq.
My address is 22.
I earn 20$ daily.

Q6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [4]:
fname = input("Enter first name: ")
lname = input("Enter last name: ")
dob = (input("Enter Date of Birth (dd/mm/yyyy): ")) 
domain = "@metics.edu"
email_ID = (f"{lname}.{fname}{domain}")
address = input("Enter address: ")

print(f"""

Name: {fname} {lname}
Date of Birth: {dob}
Email ID: {email_ID}
Address: {address}""")

Enter first name: farooq
Enter last name: mohammed
Enter Date of Birth (dd/mm/yyyy): 06/07/1995
Enter address: 22/7


Name: farooq mohammed
Date of Birth: 06/07/1995
Email ID: mohammed.farooq@metics.edu
Address: 22/7

Q7. Convert the following -

* "22.4" into integer
* "22" into complex no.

In [5]:
#String to integer

a = "22.4"
print(f"Type of a: {type(a)}\nValue of a: {a}")
a = float(a)
print(f"\nType of a: {type(a)}\nValue of a: {a}")
a = int(a)
print(f"\nType of a: {type(a)}\nVale of a: {a}")

print("------------------------------------------")
#String to complex number

b = "22"
print(f"\nType of a: {type(b)}\nVale of a: {b}")
b = int(b)
print(f"\nType of a: {type(b)}\nVale of a: {b}")
b = complex(0,b)
print(f"\nType of b: {type(b)}\nValue of b: {b}")

Type of a: <class 'str'>
Value of a: 22.4

Type of a: <class 'float'>
Value of a: 22.4

Type of a: <class 'int'>
Vale of a: 22
------------------------------------------

Type of a: <class 'str'>
Vale of a: 22

Type of a: <class 'int'>
Vale of a: 22

Type of b: <class 'complex'>
Value of b: 22j